<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataFlowDiagramCharacterized -->
      <package
            uri="http://palladiosimulator.org/dataflow/diagram/characterized/1.0"
            class="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.DataFlowDiagramCharacterizedPackage"
            genModel="model/DataFlowDiagramCharacterized.genmodel"/>
   </extension>

</plugin>
