<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated DataFlowDiagramCharacterized -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.presentation.DataFlowDiagramCharacterizedModelWizardID"
            name="%_UI_DataFlowDiagramCharacterizedModelWizard_label"
            class="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.presentation.DataFlowDiagramCharacterizedModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataFlowDiagramCharacterizedModelFile.gif">
         <description>%_UI_DataFlowDiagramCharacterizedModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated DataFlowDiagramCharacterized -->
      <editor
            id="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.presentation.DataFlowDiagramCharacterizedEditorID"
            name="%_UI_DataFlowDiagramCharacterizedEditor_label"
            icon="icons/full/obj16/DataFlowDiagramCharacterizedModelFile.gif"
            extensions="dataflowdiagramcharacterized"
            class="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.presentation.DataFlowDiagramCharacterizedEditor"
            contributorClass="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.presentation.DataFlowDiagramCharacterizedActionBarContributor">
      </editor>
   </extension>

</plugin>
