<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated DataFlowDiagramCharacterized -->
      <factory
            uri="http://palladiosimulator.org/dataflow/diagram/characterized/1.0"
            class="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.provider.DataFlowDiagramCharacterizedItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated DataFlowDiagramCharacterized -->
      <extender
            uri="http://palladiosimulator.org/dataflow/diagram/1.0"
            class="org.palladiosimulator.dataflow.diagram.characterized.DataFlowDiagramCharacterized.provider.DataFlowDiagramCharacterizedItemProviderAdapterFactory$DataFlowDiagramChildCreationExtender"/>
   </extension>

</plugin>
